<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alerts</title>
    <link rel="stylesheet" href="button.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>


     <!-- 
         BUTTONS
      -->
      <div class="button-box">
          <button class="btn btn-solid">Solid</button>
          <button class="btn btn-outline">Outline</button>
          <button class="btn btn-bottom">Bottom</button>
          <button class="btn btn-solid"><i>🛒</i> Add to Cart</button> 
      </div>
      <div class="disable-btn">
          <button class=" btn btn-solid btn-disable">Solid</button>
          <button class=" btn btn-solid btn-disable">➖ Remove</button> 
    </div>
    <div class="btn-size">
        <button class="btn btn-solid lg-btn">Large Button</button>
        <button class="btn btn-solid sm-btn">Small Button</button>
    </div>
    <div class="toggle-btn">
        <label class="btn-toggle"><input class="checkbox"type="checkbox" >
        <span class="btn-slider"></span>
        </label>
        <a class="btn btn-float"><i class="fa fa-angle-up"></i></a>
    </div>
      
    </div>
    <script src="/components/alert/alert.js"></script>
</body>
</html>