<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Badges</title>
    <link rel="stylesheet" href="avatar.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
   
         <!-- 
            AVTAR's HTML
         -->
         <div class="box">
         <div class="avtar-flex">
                <img class="avtar-sm-size round-border" src="/images/avtar1.svg" alt="avtar">
                <img class="avtar-sm-size round-border" src="/images/avtar2.svg" alt="avtar">
                <img class="avtar-sm-size round-border" src="/images/avtar3.jpg" alt="avtar">
                <img class="avtar-sm-size round-border" src="/images/avtar4.jpg" alt="avtar">
        </div>
        <!--  
            avtar of various sizes
         -->
         <div class="avtar-size avtar-flex">
                <div><img class="avtar-lg-size round-border" src="/images/avtar4.jpg" alt="avtar"></div>
                <div><img class="avtar-md-size round-border" src="/images/avtar3.jpg" alt="avtar"></div>
                <div><img class="avtar-sm-size round-border" src="/images/avtar1.svg" alt="avtar"></div>
                <div><img class="avtar-xs-size round-border" src="/images/avtar2.svg" alt="avtar"></div>
         </div>
         <!-- 
             square shape avtar
          -->
          <div class="avtar-shape avtar-flex">
                <div><img class="avtar-lg-size square-border" src="/images/avtar4.jpg" alt="avtar"></div>
                <div><img class="avtar-md-size square-border" src="/images/avtar3.jpg" alt="avtar"></div>
                <div><img class="avtar-sm-size square-border" src="/images/avtar1.svg" alt="avtar"></div>
                <div><img class="avtar-xs-size square-border" src="/images/avtar2.svg" alt="avtar"></div>
         </div>
       
         <!-- 
             avtar with text
          -->
          <div class="avtar__txt avtar-flex">
          <div class="avtar-lg-size round-border avtar-flex avtar-txt">JB</div>
          <div class="avtar-md-size round-border avtar-flex avtar-txt">JB</div>
          <div class="avtar-sm-size round-border avtar-flex avtar-txt">JB</div>
          <div class="avtar-xs-size round-border avtar-flex avtar-txt">JB</div>
          </div>

          <!-- 
              AVTAR WITH BADGES
           -->
           <div class="container">
                   <div class="avtar-box">
                       <div class="avtar-lg-badge">
                           <img class="avtar-lg-size round-border" src="/images/avtar4.jpg" alt="avtar">
                       </div>
                       <span class="avtar-status avtar-flex avtar-status-online"></span>
                               </div>
                   <div class="avtar-box">
                       <div class="avtar-md-badge">
                           <img class="avtar-md-size round-border" src="/images/avtar4.jpg" alt="avtar">
                       </div>
                       <span class="avtar-status avtar-flex avtar-status-offline"></span>
                               </div>
                   <div class="avtar-box">
                       <div class="avtar-sm-badge">
                           <img class="avtar-sm-size round-border" src="/images/avtar4.jpg" alt="avtar">
                       </div>
                       <span class="avtar-status avtar-flex avtar-status-busy"></span>
                       </div>
                   <div class="avtar-box">
                       <div class="avtar-xs-badge">
                           <img class="avtar-xs-size round-border" src="/images/avtar4.jpg" alt="avtar">
                       </div>
                       <span class="avtar-status avtar-flex avtar-status-oncall"></span>
                       </div>
               </div>
            </div>
</body>
</html>