<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cards</title>
    <link rel="stylesheet" href="cards.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<body>
     <!-- 

        card component basic
        -->

        <div class="hero">
        
            <img src="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg" alt="" srcset="">
            
            <div class="hero__title">
                <h2>Our Planet Earth</h2>
                <small>Jeffry harionto</small> 
            </div>
            
            <div class="hero__caption">
                <p>Earth, our home planet, is a world unlike any other. It is the only place in the known universe confirmed to host life.</p>
            </div>
            
            <div class="hero__btns ">
             <div class="hero__action ">
                    <div class="btn__action"><button class="btn__margin">READ</button></div>
                    <div class="btn__action"><button class="btn__margin">BOOKMARK</button></div> 
                 </div>
            
            <div class="hero_action_icon">
                <div>
                    <button class="btn__icon"><i class="fa fa-heart" aria-hidden="true"></i></button>
                
                    <button class="btn__icon"><i class="fa fa-share-alt" aria-hidden="true"></i></button>
                
                    <button class="btn__icon"><i class="fa fa-ellipsis-v" aria-hidden="true" ></i></button>
                
                </div>
            </div>
            </div>
    
        </div>

         <!-- 
          card component text on img
        -->

    <div class="hero__c1">
        
        <img class="img__c1" src="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg" alt="" srcset="">
        
        <div class="hero__text__overlay">
            <h2>Our Planet Earth</h2>
            <small>Jeffry harionto</small> 
        </div>
        
        <div class="hero__caption">
            <p>Earth, our home planet, is a world unlike any other. It is the only place in the known universe confirmed to host life.</p>
        </div>
        
        <div class="hero__btns">
         <div class="hero__action">
                <div class="btn__action"><button class="btn__margin">READ</button></div>
                <div class="btn__action"><button class="btn__margin">BOOKMARK</button></div> 
             </div>
        
        <div class="hero_action_icon">
            <div>
                <button class="btn__icon"><i class="fa fa-heart" aria-hidden="true"></i></button>
            
                <button class="btn__icon"><i class="fa fa-share-alt" aria-hidden="true"></i></button>
            
                <button class="btn__icon"><i class="fa fa-ellipsis-v" aria-hidden="true" ></i></button>
            
            </div>
        </div>
        </div>

    </div>

    <!-- 
        hortizonal card/ with badge
     -->
     <div class="horizontal-card">
        <div class="card-header">
               <img class="card-img" src="https://cdn1.epicgames.com/offer/77f2b98e2cef40c8a7437518bf420e47/93d4e401-0a3d-4c03-9867-13ad384708b2_1200x1600-b26d34f747ae0f6721b5f75232c462fe?h=854&resize=1&w=640" alt="load">
               <span class="badge">New Release</span>
       </div>
       <div class="card-text">
           <h1>Cyperpunk 2077</h1>
           <p>Cyberpunk 2077 is an open-world, action-adventure story set in Night City, a megalopolis obsessed with power, glamour and body modification</p>
       <div>
           <div class="price"><span class="tag">-50%</span ><span class="line">₹2,999</span ><span class="bold">₹1,499.50</span></div>
          <div> <small>Sale ends 2/10/2022 at 9:30 PM</small></div>
       </div>
          <div class="action-btn">
               <button class="btn btn-solid"><i class="fa fa-shopping-cart"></i> Add to Cart</button> 
               <button class="btn btn-solid"><i class="fa fa-plus-circle"></i>Move to wishlist</button>
           </div> 
       </div>
       
   </div>
    <div class="horizontal-card">
        <div class="card-header">
               <img class="card-img" src="https://cdn1.epicgames.com/salesEvent/salesEvent/EGS_RiseoftheTombRaider20YearCelebration_CrystalDynamics_S2_1200x1600-a73f93bb560142e08d56db4c2bfdb03c?h=854&resize=1&w=640" alt="load">
               <span class="badge">New Release</span>
       </div>
       <div class="card-text">
           <h1>Rise of the Tomb Raider: 20 Year Celebration</h1>
           <p>Rise of the Tomb Raider: 20 Year Celebration includes the base game and Season Pass featuring all-new content.</p>
       <div>
           <div class="price"><span class="tag">-50%</span ><span class="line">₹1,999</span ><span class="bold">₹999</span></div>
          <div> <small>Sale ends 2/10/2022 at 9:30 PM</small></div>
       </div>
          <div class="action-btn">
               <button class="btn btn-solid"><i class="fa fa-shopping-cart"></i> Add to Cart</button> 
               <button class="btn btn-solid"><i class="fa fa-plus-circle"></i>Move to wishlist</button>
           </div> 
       </div>
       
   </div>

   <div class="card-vertical-box">
    <div class="vertical-card">
        <div class="card-top">
            <img class="card-img" src="https://cdn1.epicgames.com/b4565296c22549e4830c13bc7506642d/offer/TETRA_PREORDER_STANDARD EDITION_EPIC_Store_Portrait_1200x1600-1200x1600-ca8b802ff13813c37a44ebf68d0946a2.png?h=854&resize=1&w=640" alt="">
        </div>
        <span class="floating-icon"><i class="fa fa-plus-circle bg"></i></span>
        <div class="card-end">
            <div class="card-body">Far Cry 6 Standard Edition</div>
            <div class="price my"><span class="tag">-50%</span ><span class="line">₹1,999</span ><span class="bold">₹999</span></div>
        </div>
    </div>
    <div class="vertical-card">
        <div class="card-top">
            <img class="card-img" src="https://cdn1.epicgames.com/offer/52f57f57120c440fad9bfa0e6c279317/EGS_Battlefield2042_DICE_S2_1200x1600-331f59b6877d2bf2194943fcf7a68048_1200x1600-331f59b6877d2bf2194943fcf7a68048?h=854&resize=1&w=640" alt="">
        </div>
        <span class="floating-icon"><i class="fa fa-plus-circle bg"></i></span>
        <div class="card-end">
            <div class="card-body">Battlefield™ 2042</div>
            <div class="price my"><span class="tag">-42%</span ><span class="line">₹2,999</span ><span class="bold">₹1,739</span></div>
        </div>
    </div>
    <div class="vertical-card overlay">
        <div class="card-top">
            <img class="card-img" src="https://cdn1.epicgames.com/offer/3ddd6a590da64e3686042d108968a6b2/EGS_GodofWar_SantaMonicaStudio_S2_1200x1600-fbdf3cbc2980749091d52751ffabb7b7_1200x1600-fbdf3cbc2980749091d52751ffabb7b7?h=854&resize=1&w=640" alt="">
        </div>
        <span class="floating-icon"><i class="fa fa-plus-circle bg"></i></span>
        <div class="card-end">
            <div class="card-body">God Of War</div>
            <div class="price my"><span class="tag">-50%</span ><span class="line">₹3,999</span ><span class="bold">₹1,999</span></div>
        </div>
    </div>
    <div class="text-overlay">
        <span>Coming Soon</span>
    </div>
</div>
</body>
</html>